main {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

header {
    background-color: blue;
    height: 150px;
    width: 90%;
    margin: 30px auto;
}

section {
    display: flex;
    flex-direction: column;
    width: 40%;

}

.title {
    border: 1px solid blue;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-family: Arial;
    font-weight: bold;
    padding-top: 3px;
}


img {
    height: 100px;
    width: 100px;
    margin: 20px 20px 20px;
    float: left;
}

.name,
.address,
.contact {
    text-align: center;
    margin: 1vh;
    color: white;

}

.name {
    margin: 2vh;
}

.bold {
    font-size: 20px;
    color: rgb(40, 55, 66);
}

.year {
    color: rgba(26, 29, 184, 0.541);
}